@page
@model FactModel

<form asp-action="Post">
    <div class="form-group">
        <label for="loser_name_input">Loser</label>
        <select asp-for="Fact.LoserName" asp-items="Model.UserNames" id="loser_name_input" class="form-control">
            <option disabled selected style="display:none" label="Select"></option>
        </select>
        <span asp-validation-for="Fact.WinnerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="winner_name_input">Winner</label>
        <select asp-for="Fact.WinnerName" asp-items="Model.UserNames" placeholder="Enter name" id="winner_name_input" class="form-control">
            <option disabled selected style="display:none" label="Select"></option>
        </select>
        <span asp-validation-for="Fact.WinnerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="score_input">Score</label>
        <input asp-for="Fact.Score" placeholder="Enter amount" id="score_input" class="form-control"/>
        <span asp-validation-for="Fact.Score" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Index" class="btn btn-warning">Cancel</a>
</form>
