@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<table class="table">
    <thead>
    <tr>
        <th>
            When
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Amount
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var fact in Model.Facts)
    {
        <tr>
            <td>@fact.Date.ToShortDateString() 
                @if ((DateTime.UtcNow - fact.Date).TotalMilliseconds < TimeSpan.FromDays(1).TotalMilliseconds)
                {
                    <span class="label label-info">New</span>
                }
            </td>
            <td>@fact.LoserName</td>
            <td>@fact.WinnerName
                @switch (fact.Score)
                {
                    case byte score when (score == 2):
                        <span class="label label-success">2x combo</span>
                        break;
                    case byte score when (score == 3):
                        <span class="label label-success">3x combo</span>
                        break;
                    case byte score when (score >= 4 && score <= 5):
                        <span class="label label-warning">headshot</span>
                        break;
                    case byte score when (score >= 5):
                        <span class="label label-danger">unstoppable</span>
                        break;
                }
            </td>
            <td>@fact.Score
            </td>
        </tr>
    }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-page="./Fact" class="btn btn-primary">Register</a>
    </div>
}
