@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Home Page";
}
@inject IConfiguration config
    
<section>
    <div style="padding-top: 25px;">
        <a class="btn btn-primary btn-lg" href="@(config.GetSection("PBClient").GetValue<string>("Url"))">Back to Poltorachka Board </a>
    </div>
</section>
