@page "{userName}"
@model Web.Pages.Profile.ProfileEditModel

<div class="col-left col-8">
    <div class="user-stats">
        <div class="row">
            <div class="col-3">
                <span class="text-muted">score</span>
                5
            </div>
            <div class="col-3">
                <span class="text-muted">votes left</span>
                2
            </div>
            <div class="col-3">
                <span class="text-muted">people reached</span>
                1
            </div>
        </div>
</div>