@page "{factId}"
@using Poltorachka.Pages
@model Web.Pages.Facts.FactEditModel

<form asp-action="Post">
    <div class="form-group">
        <label for="loser_name_input">Loser</label>
        <input readonly id="loser_name_input" type="text" asp-for="Fact.LoserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="winner_name_input">Winner</label>
        <input readonly id="winner_name_input" type="text" asp-for="Fact.WinnerName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="score_input">Score</label>
        <input readonly id="score_input" type="text" asp-for="Fact.Score" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description_input">Description</label>
        <input readonly id="description_input" type="text" asp-for="Fact.Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" asp-page-handler="Approve" asp-route-factId="@Model.Fact.FactId" class="btn btn-success" value="Approve" disabled="@(!Model.ApproveAllowed ? "disabled" : null)" />
        <input type="submit" asp-page-handler="Decline" asp-route-factId="@Model.Fact.FactId" class="btn btn-danger" value="Decline" disabled="@(!Model.DeclineAllowed ? "disabled" : null)" />
        <a asp-page="/Index" class="btn btn-link">Cancel</a>
    </div>
</form>

