@page "{factId}"
@using Poltorachka.Pages
@model Web.Pages.Facts.FactEditModel
    
@{
    ViewData["Title"] = @"Предъява";
}

<form asp-action="Post">
    <div class="form-group">
        <label for="loser_name_input">Кто</label>
        <input readonly id="loser_name_input" type="text" asp-for="Fact.LoserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="winner_name_input">Кому</label>
        <input readonly id="winner_name_input" type="text" asp-for="Fact.WinnerName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="score_input">Сколько</label>
        <input readonly id="score_input" type="text" asp-for="Fact.Score" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description_input">Детали</label>
        <input readonly id="description_input" type="text" asp-for="Fact.Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" asp-page-handler="Approve" asp-route-factId="@Model.Fact.FactId" class="btn btn-success" value="Подтвердить" disabled="@(!Model.ApproveAllowed ? "disabled" : null)" />
        <input type="submit" asp-page-handler="Decline" asp-route-factId="@Model.Fact.FactId" class="btn btn-danger" value="Отклонить" disabled="@(!Model.DeclineAllowed ? "disabled" : null)" />
        <a asp-page="/Index" class="btn btn-link">Отмена</a>
    </div>
</form>

