@page
@using Web.Pages
@model Web.Pages.SummaryModel
@{
    ViewData["Title"] = @"Касса";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Кто
            </th>
            <th>
                Баланс
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Summary.Users.OrderByDescending(u => u.Score))
        {
            <tr>
                <td>@user.IndividualName</td>
                <td>@user.Score</td>
            </tr>
        }
    </tbody>
</table>

